body {
    padding: 0;
    margin: 0;
    font-family: 'Alata', sans-serif;
    color: black;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.main {
    background: url("../img/white-wooden-textures.jpg") no-repeat center top / cover;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;

}

.header a {
    color: #fff;
}

.menu {
    display: flex;
}

.menu li {
    margin-right: 40px;
}

button {
    margin-right: 20px;
    background-color: Transparent;
    border: 2px solid white;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
}

.authorization {
    margin-left: auto;
    display: flex;
}

.btn-pass {
    margin-right: 40px;
}

.text-center {
    text-align: center;
}

.btns {
    text-decoration: none;
}

.btns:hover {
    color: black;
}

.section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.first {
    background: url("../img/apart.jpg") no-repeat;
    background-size: 100%;
    border-radius: 5%;
    width: 250px;
    height: 250px;
    margin: 20px;
    box-shadow: 0 0 5px black;
}

.second {
    background: url("../img/tesla.jpg") no-repeat;
    background-size: 100%;
    border-radius: 5%;
    width: 250px;
    height: 250px;
    margin: 20px;
    box-shadow: 0 0 5px black;
}

.third {
    background: url("../img/ani.jpg") no-repeat;
    background-size: 100%;
    border-radius: 5%;
    width: 250px;
    height: 250px;
    margin: 20px;
    box-shadow: 0 0 10px black;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 115px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 20px;
}

header {
    background: #777777;
}

.ads-all {
    justify-content: right;
    display: flex;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}

.list-group {
    width: 200px;
}

.list-group a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px;
    background-color: #777777;
}

.list-group a:hover {
    color: white;
}